<header class="jumbotron subhead">
  <div class="container">
    <h1 class="subhead">IceFlag</h1>
    <p class="lead">Shaping reality through software solutions.</p>
  </div>
</header>

<body class="homepage">
  <p class="values"><em>“The reason birds can fly and we can't is simply because they have perfect faith, <br/> for to have faith is to have wings.”</em></p>
</body>
